# Week 5 Tutorial Problems {-}

1. Revise some of the commonly used Pandas functions.

2. Complete the following Kaggle Mini Tutorials 
- If we run out of time to be completed in self-study time
    - Lists: [https://www.kaggle.com/colinmorris/lists](https://www.kaggle.com/colinmorris/lists)   
    - Loops and List Comprehensions: [https://www.kaggle.com/colinmorris/loops-and-list-comprehensions](https://www.kaggle.com/colinmorris/loops-and-list-comprehensions)   
    - Pandas Indexing, Selecting & Assigning: [https://www.kaggle.com/residentmario/indexing-selecting-assigning](https://www.kaggle.com/residentmario/indexing-selecting-assigning)

---
**Outline**
In this tutorial we will revise several frequently used Pandas Functions.

- `unique()` Return unique values from a DataFrame. https://pandas.pydata.org/docs/reference/api/pandas.unique.html
- `nunique()` Count the number of distinct elements in specified axis. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nunique.html
- `drop_duplicates()` Return DataFrame with duplicate rows removed. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html
- `value_counts()` Return a Series containing counts of unique values. https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html
- `merge()` Merge DataFrame or named Series objects with a database-style join. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html
- `concat()` Concatenate pandas objects along a particular axis. https://pandas.pydata.org/docs/reference/api/pandas.concat.html
- `loc[]` with multiple conditions inside. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html

---

- Import Libraries

```
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
```

- Create a dataset to be used in the tutorial

```
# create the dataframe used
df = pd.DataFrame({
    'StudentID': ['S001', 'S002', 'S003', 'S004', 'S005', 'S006', 'S007', 'S008', 'S009'],
    'StudentName': ['Angela', 'Frank', 'Grace', 'Jack', 'Bernadette', 'Alexander', 'Fiona', 'Colin', 'Tom'],
    'Postcode': ['1234', '1234', '2000', np.nan, '2001', np.nan, '2020','2020', '2122'], 
    'CourseCode': ['ACCG001','ACCG001','INFO300','INFO200', 'INFO200', 
                   'BUSA001','BUSA001','AFIN003','ACCG001']})
```

--- 
### `unique()`

- Returns unique values.
- Uniques are returned in the order of appearance. This does NOT sort.
- Significantly faster than numpy.unique for long enough sequences.
- Will also include `None` (missing values) as a unique element.

Examples
- If we are insterested in what are all the unique values for the feature **CourseCode**, we could use `unique()` function.

```
df['CourseCode'].unique()

df['Postcode'].unique()
```

--- 
### `nunique()`

- Count number of distinct elements in specified axis.
- Return Series with number of distinct elements. 
- Option `dropna = False` will count missing values as a unique element

There are two main difference between `unique()` and `nunique()`:
- `unique()` gives the unique value, whereas `nunique()` give the number of unique value.
- `unique()` includes **NA** value, whereas `nunique()` does not take **NA** value into account by default (but see dropna option)

We will illustrate it by applying `nunique()` on the feature **Postcode**.

Note: 
- To check the NA value, we could use `isnull()`. 
- To check the number of NA value, we could use `isnull().sum()`.

```
print(df['Postcode'].isnull())

print(f'There are {df["Postcode"].isnull().sum()} NA values in the column Postcode.')
```

- We can now compute the number of unique values as follows:

```
print(f'Unique values in Postcode are {df["Postcode"].unique()}')

print(f'Number of unique values in Postcode which includes NA value is {df["Postcode"].nunique()}')

print(f'Number of unique values in Postcode which includes NA value is {df["Postcode"].nunique(dropna=False)}')

```

---
### `drop_duplicates()`

- Returns DataFrame with duplicate rows removed
- Considering certain columns is optional
- To remove duplicates on specific column(s), use `subset`
- Must use `inplace = True` to modify the original dataframe
- keep{‘first’, ‘last’, False}, default ‘first’. Determines which duplicates (if any) to keep.
    - first : Drop duplicates except for the first occurrence (default value)
    - last : Drop duplicates except for the last occurrence.
    - False : Drop all duplicates.



```
# create dataframes
df = pd.DataFrame({
    'productID':["p01","p02","p03","p04","p01","p02","p05"],
    'Price':[100,250,220,300,100,250,300],
    'productType':['A','A','B','C','A','A','B']
})



df.drop_duplicates()


df.drop_duplicates(subset='productType')

df

df.drop_duplicates(subset='productType', inplace = True)
df
```

---

### `value_counts()`

- Returns a Series containing `counts` of unique values
- The resulting object will be in descending order so that the first element is the most frequently-occurring element. 
- Excludes NA values by default.

```
df['CourseCode'].value_counts()
```

- `value_counts()` is also useful when we would like to do some data visualization;
- `value_counts()` could be used to create bar plot, which shows the frequence of each class;
    - There are also many other ways of doing this 

```
# course_freq stores course name and corresponding frequnce
course_freq = df['CourseCode'].value_counts()

# use course_freq to generate a bar plot
ax = course_freq.plot.barh(title='Bar Plot - Enrolment in differnt courses')
ax.set_xlabel('Frequency')
ax.set_ylabel('Course')
plt.show()
```

---
### `merge()`

- Merge DataFrame or named Series objects with a **database-style join**.
- A named Series object is treated as a DataFrame with a single named column.
- The join is done on columns or indexes. 
    - If joining columns on columns, the DataFrame indexes will be ignored. 
    - Otherwise if joining indexes on indexes or indexes on a column or columns, the index will be passed on. 
    - When performing a cross merge, no column specifications to merge on are allowed.
    
- Create two new DataFrames

```
product = pd.DataFrame({
    'productID':["p01","p02","p03","p04","p05","p06"],
    'productName':["ABCD","EFGH","IJKL","MNOP", "QRST", "UVWX"],
    'Price' :[100,250,220,300,190,900]
})
print(product)

discount = pd.DataFrame({
    'discountID':["d01","d02","d03","d04","d05","d06"],
    'productID':["p04","p03","p01","p02","p09","p10"],
    'Discount':["20%","30%","40%","20%","25%","30%"]
})
print(discount)

```


### parameter `on`:

- Column or index level names to join on. 
- These must be found in both DataFrames. 
- If on is None and not merging on indexes then this defaults to **the intersection of the columns** (columnns that have the same name) in both DataFrames. default`None`


### parameter `how`:

- Type of merge to be performed.
- how{`‘left’`, `‘right’`, `‘outer’`, `‘inner’`, `‘cross’`}, default `‘inner’`
- `inner`: use intersection of keys from both frames, similar to a SQL inner join; preserve the order of the left keys.
- `left`: use only keys from left frame, similar to a SQL left outer join; preserve key order.
- `right`: use only keys from right frame, similar to a SQL right outer join; preserve key order.
- `outer`: use union of keys from both frames, similar to a SQL full outer join; sort keys lexicographically.
- `cross`: creates the cartesian product from both frames, preserves the order of the left keys.


The most frequently-used join types are: `inner`, `left`, and `right`.

```
# Merge DataFrames by Columns
pd.merge(product, discount, on = 'productID', how = 'inner')

pd.merge(product, discount, on = 'productID', how = 'left')

pd.merge(product, discount, on = 'productID', how = 'right')

```

---
### `concat()`

- Another function that concatenates (joins) pandas objects along a particular axis.
    - `axis = 0` combine vertically
    - `axis = 1` combine horizontally

- Difference between `merge()` and `concat()`
    - `merge()` for combining data on **common** columns or indices.
    - `concat()` for combining DataFrames horizontally or vertically.
    
    

- Create dataframes

```
df1 = pd.DataFrame({
    'productID':["p01","p02","p03","p04","p05","p06"],
    'productName':["ABCD","EFGH","IJKL","MNOP", "QRST", "UVWX"],
    'Price' :[100,250,220,300,190,900]
})

df2 = pd.DataFrame({
    'productID':["p07","p08","p09","p10"],
    'productName':["DJFJ","DFKD","FKKM","OEKL"],
    'Price' :[190,490,920,310]
})

df3 = pd.DataFrame({
    'productType':["A","B","C","D"],
    'releasedYear':[2020,2012,2011,2009]
})
```

- Combine data vertically
```
pd.concat([df1, df2], axis = 0)
```

- Combine data horizontally
```
pd.concat([df2, df3], axis = 1)
```

---
## `loc[]` with multiple conditions inside

- Access a group of rows and columns by labels
- By using `loc[]` you can apply multiple conditions. 
    - Make sure you **surround each condition with round brackets**. Not using this will get you incorrect results.
    
    
```
# create dataframes
df = pd.DataFrame({
    'productID':["p01","p02","p03","p04","p05","p06","p07","p08","p09","p10"],
    'Price':[100,250,220,300,190,900,1050,40,30,90],
    'productType':['A','A','B','C','B','A','A','B','A','C'],
    'yearReleased':[2010,2012,2020,2013,2020,2021,2014,2009,2020,2022],
    'cumulativeSales($)':[100000,200000,190000,90000,10000,
                          140000,10000,6000,9000,300000]
})

df
```

### Exercise 1
Select products that price is greater than $100 and released before 2020.

```
df.loc[(df['Price']>100) & (df['yearReleased']<2020)] # '&' refers to 'and'
```

### Exercise 2

Select products that price is less than $ 100, product type is B, and released before 2020.

```
df.loc[(df['Price']<100) & (df['productType']=='B') & (df['yearReleased']<2020)]
```

### Exercise 3
Select products that either price is less than 100 `or` cumulative sales is less than 100000.

```
df.loc[(df['Price']<100) | (df['cumulativeSales($)']<100000)]
# '|' refers to 'or'
```